<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Listas</title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->
    <!-- Latest compiled and minified CSS -->
	 <script type="text/javascript" src="js/jquery.js"></script>
	
	<!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter">

    <ion-pane>
      <ion-header-bar align-title="left" class="bar-stable bar bar-header ">
        <h1 class="title">Listas</h1>
        
      </ion-header-bar>
      <ion-content ng-controller="ctrlContenido">
		<ion-refresher pulling-text="Recargar" on-refresh="doRefresh()"></ion-refresher>
      	<label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="search" placeholder="Buscar" ng-model="qry">
        </label>
      <ion-spinner class="loadEnMedio"></ion-spinner>  
		<ion-list ng-controller="jsonContactos" id="ionListProspectos">
		  <ion-item ng-repeat="prospecto in prospectos | filter:qry | orderBy:name.first">
		    <strong>{{prospecto.name.first}} {{prospecto.name.last}}</strong>
		    	<br>
		    	<i class="italic">{{prospecto.email}}</i>
		  </ion-item>
		</ion-list>

      </ion-content>
    </ion-pane>
  </body>
</html>
